<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188747627604-j2638ac4jq24b39cvl4ro9aq805ut187.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188747627604-j2638ac4jq24b39cvl4ro9aq805ut187</string>
	<key>API_KEY</key>
	<string>AIzaSyBwheMMoIPWwdJfcmHYhKAxaA7jEyZW2-E</string>
	<key>GCM_SENDER_ID</key>
	<string>188747627604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dnstylish.FoodMix</string>
	<key>PROJECT_ID</key>
	<string>foodmix-c9db4</string>
	<key>STORAGE_BUCKET</key>
	<string>foodmix-c9db4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188747627604:ios:06456aab2a4bc1638881c1</string>
</dict>
</plist>